# Keycloak configuration
VITE_KEYCLOAK_URL=https://auth.virtho.online
VITE_KEYCLOAK_REALM=virtho
VITE_KEYCLOAK_CLIENT_ID=virtho-frontend

# Backend API base URL (без /api/v1 в края - добавя се автоматично от api client-а)
VITE_API_URL=https://api.virtho.online